.appointment-contacts {
  background-color: $dark-background-color;
}

.appointment-contacts > .container {
  display: flex;
}

.appointment .section-header {
  margin-bottom: 44px;
}

.appointment .form {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.name-mobile {
  margin-bottom: 44px;
}

.name {
  width: 270px;
  margin-right: 40px;
}

.mobile {
  width: 260px;
}

.message {
  resize: none;
  margin-bottom: 44px;
  height: 76px;
}

.contacts {
  padding-left: 100px;
}

.contacts .section-header {
  margin-bottom: 40px;
}

.contacts .link {
  display: block;

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: $dark-sec-color;
  @include transition;
}

.contacts .link:hover,
.contacts .link:focus {
  color: $accent-color;
}

.contacts .link:not(:last-of-type) {
  margin-bottom: 20px;
}

.contacts .address {
  display: block;
  margin-bottom: 70px;
}

.contacts .section__subheader {
  margin-bottom: 20px;
}

.working-time {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: $dark-sec-color;
}