.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 418px;
  
  @media (min-width: $tablet) {
    width: 690px;
  }

  @media (min-width: $desktop) {
    width: 1170px;
  }
}

.section {
  padding: 130px 0;

  &__header {
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
  
    color: $main-color;
    
    &--dark {
      color: $dark-main-color;
    }
  }
  
  
  &__subheader {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
  
    letter-spacing: 0.1em;
    text-transform: uppercase;
  
    color: $main-color;

    &--dark {
      color: $dark-add-color;
    }
  }
  
  
  &__description {
    font-size: 18px;
    line-height: 1.67;
  
    letter-spacing: 0.02em;
  
    color: $sec-color;

    &--dark {
      color: $dark-sec-color;
    }
  }
}

.button {
  width: 160px;
  height: 40px;
  border-radius: 25px;
  border: 1px solid $accent-color;

  cursor: pointer;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  background-color: transparent;
  color: $main-color;

  @include transition(background-color);

  &:focus,
  &:hover {
    background-color: $accent-color;
    color: $dark-main-color;
  }

  &--dark {
    color: $dark-main-color;
  }
}

.social {
  display: flex;
  align-items: center;

  &__item:not(:last-child) {
    margin-right: 40px;
  }
  
  &__link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
  
    letter-spacing: 0.2em;
  
    color: $main-color;
    @include transition;
    
  }
  
  &__link:focus,
  &__link:hover {
    color: $accent-color;
  }

  &::before {
    content: '';
    display: block;
    margin-right: 40px;
    width: 60px;
    height: 1px;
    background-color: black;
  }
}


.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.appointment-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $dark-add-color;
  outline: none;
  color: $dark-add-color;
  transition: color $animation-dur $animation-type, border-bottom-color $animation-dur $animation-type;
  
  &::placeholder {
    color: $dark-add-color;
    @include transition;
    text-transform: uppercase;
  }
  
  &:focus,
  &:hover {
    border-bottom-color: white;
    color: white;
  }
  
  &:focus::placeholder,
  &:hover::placeholder {
    color: white;
  }
}