.backdrop-sign {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(157, 164, 189, 0.4);

  @include transition(opacity);
}

.backdrop-sign.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-sign {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  width: 400px;
  background-color: $dark-background-color;
  
  @extend %window-centered;
  @include transition(transform);
}

.backdrop-sign.is-hidden .modal-sign {
  transform: translateX(-900px) translateY(-50%);
}

.close-button {
  margin: 10px 10px 0 auto;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: $sec-color;

  @include transition;
}

.close-button:hover,
.close-button:focus {
  color: $accent-color;
}

.close-icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

.modal-label {
  position: relative;
  color: $sec-color;
  margin-bottom: 30px;
}

.modal-checkbox-label {
  position: relative;
  color: $sec-color;
  margin-bottom: 30px;
}

.modal-label:focus-within {
  color: white;
}

.modal-input{
  width: 300px;
  padding-left: 20px;
  @include transition(background-color);
}

.modal-input:focus + .modal-icon,
.modal-input:hover + .modal-icon {
  background-color: white;
}

.modal-input-container {
  position: relative;
  margin-top: 10px;
}

.modal-icon {
  @include vertically-centered;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: $sec-color;
}

.modal-checkbox-img {
  @include vertically-centered;
  cursor: pointer;
  width: 10px;
  height: 10px;
  background-color: $sec-color;
}

.modal-checkbox:checked ~ .modal-checkbox-img  {
  background-color: $accent-color;
}

.modal-checkbox-text {
  margin-left: 15px;
}

.modal-submit {
  margin-bottom: 20px;
}