body {
  font-family: 'Open Sans', sans-serif;

  background-color: $main-background-color;
}

h1,
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
