$main-background-color: #ffffff;
$sec-background-color: #f7f7f7;
$dark-background-color: #191c26;

$accent-color: #ff6c00;

$main-color: #303030;
$sec-color: #555555;

$dark-main-color: #ffffff;
$dark-sec-color: #9da4bd;
$dark-add-color: rgba(157, 164, 189, 0.6);

$animation-dur: 0.2s;
$animation-type: linear;

$tablet: 768px;
$desktop: 1280px;